.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
}

.subtotal__gift {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button {
    background: #1f324a;
    width: 100%;
    height: 30px;
    border: none;
    margin-top: 10px;
    border-color: #0B0E16 #1E3149 #455567;
    color: white;
    padding: 5px 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    border-radius: 5px;
}
